/* Variables */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {

  --clr-primary: hsl(218, 44%, 22%);
  --clr-secondary: hsl(220, 15%, 55%);
  --clr-neutral: hsl(0, 0%, 100%);
  --clr-neutral-dark: hsl(212, 45%, 89%);

  --fs-300: 0.875rem;
  --fs-400: 1rem;
  --fs-500: 1.1rem;
  --fs-600: 1.4rem;
  --fs-700: 1.5rem;

  --fw-400: 400;
  --fw-700: 700;

  --ff-primary: 'Karla', sans-serif;
}

/* Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* */

body {
  padding: 0.75rem 1.5rem;
  background-color: var(--clr-neutral-dark);
  font-size: 0.935rem;
  font-family: 'Outfit', sans-serif;
  color: var(--clr-primary);
  display: grid;
  place-items: center;
}

/* QR Code component */

.card {
  background-color: var(--clr-neutral);
  padding: 1rem;
  border-radius: 0.875rem;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8125rem;
  box-shadow: 0.25rem 0.5rem 0.7rem var(--clr-secondary);
}

.card>*:not(:first-child) {
  text-align: center;
}

.card__picture img {
  border-radius: 0.875em;
}

.card__title {
  font-size: var(--fs-600);
}

.card__text {
  color: var(--clr-secondary);
  font-size: var(--fs-500);
}